body{
    color: black;
    background: blue;
    margin: 0px;
    font-family: "Itim", cursive;
    margin-bottom: 100px;
}

.chamada{
    background: blue;
    margin-top: 80px;
    margin-bottom: 80px;
    display: flex;
    justify-content: center;
}