body{
    color: black;
    background: blue;
    margin: 0px;
    font-family: "Itim", cursive;
    margin-bottom: 100px;
}
header{
    border-bottom: solid 2px blueviolet;
    padding: 20px;
    font-size: 32px;
    color: blue;
}

.chamada{
    background: blue;
    margin-top: 80px;
    margin-bottom: 80px;
    display: flex;
    justify-content: center;
}
chamada-texto{
    margin-right: 5%;
}
h1{
    font-size: 34px;
}